/* -------------------------------------------  */
        /* Defining variables & values */
/* -------------------------------------------  */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Inter', sans-serif;
    /* Prevents "double tap to zoom" on touch/mobile devices */
    touch-action: manipulation;
}

:root{
    --bgColor-startValue: rgb(60, 64, 67);
    --transparent-bg-white: rgba(255, 255, 255, 0.5);
    --transparent-bg-white-select: rgba(255, 255, 255, 0.8);
    --background-color-transition-time: 500ms;
    --transparent-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
}

h3{
    font-size: 3rem;
    font-weight: 500;
    /* filter: drop-shadow(3px 3px 0px rgba(0, 0, 0, 0.2)); */
}

h6{
    font-size: 1rem;
    font-weight: 700;
}

/* -------------------------------------------  */
                /* Page Content */
/* -------------------------------------------  */

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.warning-text{
    z-index: 1;
    display: none; 
    position: absolute;
    align-self: center;
    justify-content: center;
    width: 70vw;
    text-align: center;
    margin-top: 2rem;
    transition: 200ms;
    background-color: beige;
    border-radius: 15px;border-radius: 15px;
    padding: 30px;
    outline: red solid 10px;
}

.warning-text p{
    font-size: 3rem;
    font-weight: 400;
}

.warning-text p span{
    font-weight: 700;
}

.bg-color{
    z-index: -10;
    position: absolute;
    background-color: var(--bgColor-startValue, black); 
    width: 100vw;
    height: 100vh;
    transition: background-color var(--background-color-transition-time);
    
}

.main-text{
    font-size: 3rem;
    background-color: var(--transparent-bg-white);
    border-radius: 15px;
    padding: 20px 50px 20px 50px;
    margin: 20px;
    box-shadow: var(--transparent-shadow);
    user-select: none;
    /* -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px); */
}

.main-text:hover{
    background-color: var(--transparent-bg-white-select);
    cursor: pointer;
}

.current-bg-color-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* width: fit-content; */
    user-select: none;
    /* background-color: rgba(0, 0, 0, 0.5); */
    background-color: var(--transparent-bg-white);
    /* outline: black solid 10px; */
    border-radius: 15px;
    padding: 20px 50px 20px 50px;
    margin: 20px;
    box-shadow: var(--transparent-shadow);
    /* color: white; */
}

.current-bg-color-container:hover{
    cursor: pointer;
    /* filter: invert(0.4); */
    /* outline: rgb(255, 255, 255) solid 10px; */
    background-color: var(--transparent-bg-white-select);
    /* transition: 500ms; */
}

.current-bg-color-container h3{
    margin-right: 30px;
}


/* ------------------------------------------- */
            /* Media Queries Below */
/* -------------------------------------------  */

@media (max-width:500px) {
    .warning-text{
        margin-top: 50px;
        padding: 5px;
        width: 90vw;
    }

    .warning-text p{
        font-size: 1.2rem;
    }

    .main-text{
        width: 85vw;
        padding: 20px;
        text-align: center;
    }
    .main-text p{
        text-align: center;
    }
    .main-text h6{
        margin-top: 20px;
        text-align: center;
    }
}

@media (min-aspect-ratio: 2 / 1) {
    .content{
        flex-direction: row;
        justify-content: start;
        padding-left: 20vw;
    }
    .main-text{
        padding: 10px;
        width: min-content;
    }

    .warning-text{
        margin-top: 50px;
        padding: 5px;
        width: 90vw;
        justify-content: end;
    }
    .warning-text p{
        font-size: 1.2rem;
    }
}
